@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
      /* -----------------header---------------- */
      .header {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      /* .header > .container {
        margin: 0 auto;
        min-width: 1158px;
      } */
      .header-navigation {
        padding: 0;
      }
      .header-logo {
          margin-right: 76px;  
       }
       .header-link-tablet {
       display: flex;
       max-width: 100%;
        padding: 0;
        }
        .header-mail {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:  #434455;
        margin-right: 40px; 
        }
        .header-tel {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:  #434455;
        }
     /* -----------------hero---------------- */
        .hero {
         background-image: 
        linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../img/hero-bg.jpg) ;
             padding-bottom: 108px;
            max-width: 1440px;
            padding-top: 188px;
            padding-bottom: 188px;
        }
        @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
.hero {
  background-image:
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../img/hero-bg-2x.jpg) ;
  }
}
        .hero-title {
            margin-bottom: 48px;
        }
    /* -----------------about---------------- */
    .about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-list {
    gap: 24px;
}
.about-item {
     margin: 0 auto;
    width: calc((100% - 72px) / 4);
    /* position: static;
     overflow: 0; */
}
.about-bg {
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
      margin-bottom: 8px;  
}
.about-icon {
    display: block;
} 
  
/* .about-overlay {
    position: static;
}
.is-hidden-about {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */
.about-item-title {
    text-align: start;
}
    /* -----------------specifics---------------- */
    .specifics {
        display: block;
        padding-bottom: 120px;
    }
   .specifics-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
    }
    .specifics-list {
    display: flex;
    gap: var(--gap);
    }
    /* -----------------team---------------- */
    .team > .container {
    max-width: 1158px;
}
    .team {
    padding-top: 120px;
    padding-bottom: 120px; 
}
    .team-item {
    width: calc((100% - 72px) / 4);
    }
    /* ------------------customers------------------ */
    .customers > .container {
    max-width: 1158px;
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-items {
        width: calc((100% - 120px) / 6);
    }
    /* -----------------footer---------------- */
    .footer {
    padding-left: 0px;
}
    .footer > .container {
        display: flex;
    }
    
    .footer-container-1 {
        margin-right: 120px;
    }
    .footer-container-2 {
    margin-right: 80px;
    }
}