* {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    --title-color: #2E2F42;
    --first-text-color: #434455;
    --second-text-color: #E7E9FC;
    --typical-lh: 1.5;
    --top: 120px;
    --botton: 120px;
    --gap: 24px;
    --size-block: 1440px;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    /* width: 1158px; */
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    }
.text {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;   
}
.no-scroll {
    overflow: hidden;
}
.btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;      
    color: #4D5AE5;
    cursor: pointer; 
}
.header > .container {
    display: flex;
    align-content: center;
    /* margin: 0 auto; */
}
    /* -----------------HEADER---------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-border{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-1 {
    color: #4D5AE5;
}
.header-logo-2 {
    color: #2E2F42;
}
.header-list {
    display: none;
}
.header-item {
  
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.header-mail {
      display: none;
}
.header-tel {
      display: none;
}
.header-btn-menu {
   margin-left: auto;
   width: 32px;
   height: 22px;
   background-color: transparent;
   border: none;
}
.menu-open-icon {
stroke: #000000;
}
.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFFFFF;
     padding-top: 80px;
     padding-bottom: 40px;
      transition: opacity var(--transition), visibility var(--transition);
    
}
.mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.btn-close-menu {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition:  background-color var(--transition);
    }
    .mob-close-btn-icon {
    transition: fill var(--transition);
    }
    .btn-close-menu:hover,
    .btn-close-menu:focus {
        background-color: #404BBF;
    }
    .btn-close-menu:hover .mob-close-btn-icon,
    .btn-close-menu:focus .mob-close-btn-icon {
        fill: #FFFFFF;
    } 
.mob-menu-list {
   
}
.mob-menu-item {
    margin-bottom: 40px;
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition:  color var(--transition);
    }
.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404BBF;
}
    .mob-menu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #404BBF;
    display: inline-block;
    margin-bottom: 40px;
    /* transition:  color var(--transition); */
}
/* .mob-menu-tel:hover,
.mob-menu-tel:focus {
    color: #404BBF;
} */
.mob-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    margin-bottom: 48px;
    /* transition:  color var(--transition); */
}
/* .mob-menu-mail:hover,
.mob-menu-mail:focus {
    color: #404BBF;
} */
.mob-menu-soc-list {
    display: flex;
    /* justify-content: center; */
    gap: 56px;
}
.mob-menu-soc-item {
    width: 40px;
    height: 40px;
}
.mob-menu-soc-link {
    width: 100%;
    height: 100%;
    background-color:  #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color var(--transition);
}
.mob-menu-soc-link:hover,
.mob-menu-soc-link:focus {
background-color: #404BBF;
}
.mob-menu-soc-icon {

}
/* ----------------HERO--------------- */
.hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #2E2F42;
    background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../img/Dark-bg-1x.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 112px;
    padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
.hero {
  background-image:
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../img/Dark-bg-2x.jpg) ;
  }
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 72px;
}
.hero-btn {
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto; 
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFFFFF;
    transition:  background-color var(--transition), color var(--transition);
}
.hero-btn:hover,
.hero-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    border-radius: 4px;
}
/* -----------------PRFO---------------- */
.prfo {
    padding-top: 88px;
    padding-bottom: var(--botton);
}
.prfo-categories-list {
    display: flex;
    gap: var(--gap);
    justify-content: center;
    margin-bottom: 72px;
}

   
.prfo-categories-btn {
    flex-direction: row;
    padding: 12px 24px;
    border-radius: 4px;
    align-items: center;
    flex: none;
    transition:  background-color var(--transition), color var(--transition);
}
.prfo-categories-btn:hover,
.prfo-categories-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  
}
.prfo-services-list {
    display: flex; 
    flex-wrap: wrap;
    margin-top: -48px;
    margin-left: calc(-1 * var(--gap)); 
}
.prfo-services-list > .prfo-services-item {
    flex-basis: calc((100% - 72px) / 3);
}

.prfo-services-item {
    margin-top: 48px;
    margin-left: var(--gap);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition);
}
.prfo-services-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.prfo-services-link {
    /* display: block; */
 
}
.ptfo-services-img {
   position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 100%);
    transition: transform var(--transition);
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px 164px 32px;
}
.prfo-services-link:hover .overlay,
.prfo-services-link:focus .overlay {
    transform: translate(0, 0);
}
.prfo-services-container {
    padding: 32px 16px;
    border-top: none;  
}
.prfo-services-title {
    color: var(--title-color);
    margin-bottom: 8px;
}
.prfo-services-text {
    color: var(--first-text-color);
}

/* ------------------ABOUT------------------ */
.about {
    padding-top: 96px;
    padding-bottom: 96px;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}
.about-item {
    width: 100%;
    /* position: relative;
     overflow: hidden; */
   
}
/* .about-bg {
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    
} */

.about-icon {
    display: none;
} 
/* .is-hidden-about {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */
/* .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.about-item-title {
    color: var(--title-color);
    align-items: center;
    margin-bottom: 8px;
   text-align: center;
}
.about-item-text {
    color: var(--first-text-color);
    width: 100%;
}

/* -----------------SPECIFICS---------------- */
.specifics {
    display: none;
}


/* -------------------TEAM---------------- */
.team {
    padding-top: 96px;
    padding-bottom: 128px; 
    background: #F4F4FD;  
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap:72px;
}
.team-item {
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}
.team-item-title {
    color: var(--title-color);
    margin-bottom: 8px;
}
.team-item-text {
    color: var(--first-text-color);
    margin-bottom: 8px;
}
.team-card-container {
    padding-top: 32px;
    padding-bottom: 32px;    
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}
.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    background-color:  #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color var(--transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
background-color: #404BBF;
}

/* ------------------CUSTOMERS---------------- */
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-items {
    width: calc((100% - 16px) / 2);
    height: 88px;
}
.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #8E8F99;
    transition: border-color var(--transition);
}
.customers-icon {
    transition: fill var(--transition);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}
/* .customers-icon:hover,
.customers-icon:focus {
    fill: #404BBF;   
} */

/* ------------------FOOTER---------------- */
.footer {
    background: #2E2F42;
    padding-top: 101px;
    padding-bottom: 91px; 
    /* display: flex; */
    }
.footer-container {
    /* display: flex; */
}
.footer-container-1 {
 
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items:  flex-start;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px; 
    justify-content: center;
}
.footer-logo-1 {
    color: #4D5AE5;
}
.footer-logo-2 {
    color: var(--second-text-color)
}
.footer-text {
    color: var(--second-text-color);
    width: 266px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}
.footer-container-2 {
    /* margin-left: 120px; */
}
.footer-media-text {
    font-weight: 500;
    color: #FFFFFF;
    /* display: flex; */
    text-align: center;
     margin-bottom: 16px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
    margin-bottom: 72px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color:  #FFFFFF1A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
background-color: #31D0AA;
}
.footer-soc-icon {
}
.footer-container-3 {
    /* padding-left: 80px; */
}
.subscribe-form {
    /* display: flex; */
}
.subscribe-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.subscribe-input {
    width: calc(100% - 30px);
    display: block;
    margin: 0 auto;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    /* margin-right: 24px; */
    padding-left: 16px;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
    height: 40px;
    border: 1px;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
   }
    .btn-icon {
        margin-left: 16px;
    }

    /* --------------------MODAL------------------- */
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4); 
        transition: opacity var(--transition), visibility var(--transition);
    }
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 576px;
        background-color: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .model-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition:  background-color var(--transition);
    }
    .modal-close-btn-icon {
    transition: fill var(--transition);
    }
    .model-close-btn:hover,
    .model-close-btn:focus {
        background-color: #404BBF;
    }
    .model-close-btn:hover .modal-close-btn-icon,
    .model-close-btn:focus .modal-close-btn-icon {
        fill: #FFFFFF;
    } 
    .modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: var(--typical-lh);
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding-top: 72px;
        margin-bottom: 16px;
    }
    .modal-form {
        width: 360px;
        margin: 0 auto;
    }
    .input-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #8E8F99;
        display: inline-block;
        margin-bottom: 4px;
    }
    .input-wrap {
        position: relative;
    }
    .input-icon {
        position: absolute;
        top: 0%;  
        left: 16px;
        fill:  #2E2F42;
        transition: fill var(--transition);
    }
    .modal-input {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 38px;
        outline: none;
        transition:  background-color var(--transition);
    }
    .modal-input:focus {
        border: 1px solid #4D5AE5;
    }
    .modal-input:focus + .input-icon {
        fill: #4D5AE5;
    }
    .modal-comment {
        width: 100%;
        height: 120px;
        background-color: transparent;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        resize: none;
        padding-left: 16px;
        padding-top: 8px;
    }
    .modal-comment::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: rgba(117, 117, 117, 0.5);
    }
    .check-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #757575;
        display: flex;
        align-items: center;
    }
    .check-text::before {
        content: '';
        width: 16px;
        height: 16px;
        border: 1.25px solid #2E2F42;
        border-radius: 2px;
        margin-right: 8px;
        transition:  background-color var(--transition);
    }
    .input-check:checked + .check-text::before {
    background-color: #4D5AE5;
    border: none;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
    .check-link {
        color: #4D5AE5;
        margin-left: 4px;
    }
    .modal-field {
        margin-bottom: 12px;
    }
    .modal-btn {
        width: 169px;
        height: 56px;   
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px;
        font-weight: 500;
        font-size: 16px;
        line-height: var(--typical-lh);
        letter-spacing: 0.04em;
        color: #FFFFFF;
        display: block;
        margin: 0 auto; 
        cursor: pointer;
    }
