@media screen and (min-width: 768px) {
    .container {
   max-width: 768px;
} 
/* -----------------header---------------- */
.header {
    padding: 0;
}
.header > .container {
    /* min-width: 100%; */
}
.header-navigation {
    display: flex;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo {
    margin-right: 120px;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    position: relative;
}

.header-link.active::after {
    position: absolute;
    left: 0;
    bottom: -27px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}
.active {
    color: #404BBF;
}
.header-link-tablet {
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 10px;
}
.header-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
}
.header-tel {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
}
.header-btn-menu {
    display: none;
}
/* -----------------hero---------------- */
.hero {
     background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../img/Dark-bg-tab-1x.jpg) ;
    padding-bottom: 108px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
.hero {
  background-image:
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../img/Dark-bg-tab-2x.jpg) ;
  }
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}
/* -----------------about---------------- */
.about-list {
   column-gap: 24px;
}
.about-item {
    width: calc((100% - 24px) / 2);
}
.about-item-title {
    text-align: start;
}
/* -----------------team---------------- */

.team > .container {
    max-width: 582px;
    /* padding-left: 108px;
    padding-right: 108px; */
}
.team {
    padding-bottom: 104px;
}
.team-list {
    column-gap: 24px;
    row-gap: 64px;
}
.team-item {
    width: calc((100% - 24px) / 2);
}
/* -----------------customers---------------- */
.customers > .container {
    max-width: 582px;
    /* padding-left: 108px;
    padding-right: 108px; */
}
.customers-list {
    column-gap: 24px;
    row-gap: 72px;
}
.customers-items {
    width: calc((100% - 48px) / 3);
}
/* -----------------footer---------------- */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer > .container {
    max-width: 521px;
}
.footer-container {
    display: flex; 
}
.footer-container-1 {
    margin-right: 24px;
}
.footer-logo {
    justify-content: start;
}

.footer-media-text {
    text-align: start;
}
.footer-soc-item {
    margin-bottom: 0;
}
.subscribe-text {
    text-align: start;
}

.subscribe-form {
    display: flex;
}
.subscribe-input {
    width: 264px;
    margin: 0;
    margin-right: 24px;
}
.subscribe-btn {
    margin: 0;
}
/* -----------------modal---------------- */
.modal {
   width: 408px;
 }
}